body{
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}
.hero{
    background-image: url(./img/background.png);
    background-size: cover;
    height: 460px;
    position: absolute;
    margin: 0 auto;
    color:white;
    width: 100vw;
    position:relative;
}

.navbar{
    margin:{
        top: 100px;
        right: 200px;
    };
    height: 80px;
    display: flex;
    align-items:center;
    justify-content: center;

}
.duolingo{
    margin-right: 5%;
}

.fuji{
    position: absolute;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    flex-wrap: wrap;

}
.fuji h2{
    font-weight: 600;
}
